:root {
  --primary-bg: #000000; /* Gris anthracite */
  --primary-color: #8c8c8c; /* Jaune doré */
  --secondary-bg: rgba(58, 58, 58, 0.585); /* Gris plus clair pour les sections */
  --text-color: #a1a1a1; /* Blanc pour le texte */
  --shadow-color: rgba(0, 0, 0, 0.8); /* Gris anthracite pour l'ombre */
}

@font-face {
  font-family: "police";
  src: url('./assets/fonts/police.ttf');
}

body {
  color: var(--text-color);
  font-family: "police", Arial, sans-serif;
  margin: 0;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh; /* S'assure que l'application prend toute la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden; /* Empêche le défilement horizontal */
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*background-repeat: repeat;*/
  z-index: -1; /* Place la vidéo derrière le contenu */
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto; /* Permet le défilement vertical */
}

.container {
  padding: 0 0 20px 0;
  width: 100%; /* Assure que le conteneur prend toute la largeur */
  max-width: 1200px; /* Limite la largeur maximale pour un meilleur centrage */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le contenu horizontalement */
  box-shadow: 3px 3px var(--shadow-color), -1em 0 .4em var(--shadow-color);
  margin-top: 20px; /* Ajoute un espace en haut pour éviter le rognage */
}

h2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 4rem;
  font-family: "police";
  margin: 1.5%;
}

.card {
  background-color: var(--secondary-bg);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 3px 3px var(--shadow-color), -1em 0 .4em var(--shadow-color);
}

.card-body {
  padding: 15px;
  text-align: center;
}

/*
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-bg);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-family: "police";
}

.btn-primary:hover {
  background-color: #222222c2; /* Jaune un peu plus clair pour le survol */ /*
} */

.btn-danger {
  background-color: #a51f10; /* Rouge pour la suppression */
  border: none;
  color: #000000; /* Noir pour le texte */
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-family: "police";
}

.btn-danger:hover {
  background-color: #ff19005c; /* Rouge foncé pour le survol */
} 

.form-control {
  background-color: var(--secondary-bg);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 4px;
  width: 50%; /* Réduit la largeur de l'input à 50% */
  box-sizing: border-box;
  margin: 0 auto; /* Centre horizontalement */
  font-size: 150%; /* Agrandit le texte des inputs de 50% */
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(255, 215, 0, 0.5);
}

.form-group {
  margin-bottom: 15px;
  width: 100%; /* Assure que le form-group prend toute la largeur */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
}

.form-group label {
  color: var(--primary-color);
  font-size: 150%; /* Agrandit le texte des labels de 50% */
}

.user-form-container {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond noire avec 50% de transparence */
  background-color: var(--secondary-bg);
  padding: 10px;
  border-radius: 8px;
  width: 92.8%;
  box-sizing: border-box;
  margin-left: 3.6%;
  box-shadow: 3px 3px var(--shadow-color), -1em 0 .4em var(--shadow-color);
}

.user-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* Limite la largeur maximale pour un meilleur centrage */
  box-sizing: border-box;
}

.user-card {
  background-color: var(--secondary-bg);
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: calc(50% - 40px); /* Deux colonnes avec espace */
  box-sizing: border-box;
  text-align: center;
  box-shadow: 3px 3px var(--shadow-color), -1em 0 .4em var(--shadow-color);
}

.user-card h5, .user-card p {
  margin: 10px 0;
  font-size: 150%; /* Agrandit le texte de 50% */
  font-family: "police";
}

.user-card .btn {
  width: 45%; /* Ajustez si nécessaire */
  margin: 5px;
  font-family: "police";
}


button {
  --purple: #9B7EDA;
  font-size: 18px;
  padding: 0.8em 3em;
  letter-spacing: 0.08em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--purple);
  background: linear-gradient(to right, rgba(155, 126, 218, 0.1) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.1) 100%);
  color: var(--purple);
  box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
}

button:hover {
  color: #BFA3F3;
  box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.6), 0 0 9px 3px rgba(155, 126, 218, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(155, 126, 218, 0.1) 40%, rgba(155, 126, 218, 0.1) 60%, transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}


